
:root {
    --header-color: Orange;
    --max-title-size: 3em;
    --mid-title-size: 2em;
    --min-title-size: 1.5em;
    --max-sectionHeader-size: 1.5em;
    --mid-sectionHeader-size: 1.2em;
    --min-sectionHeader-size: 1em;
    --background-color: rgb(255, 253, 255);
}
body {
    background-color: var(--background-color);
    font-family: 'Itim', cursive;
    line-height: 1em;    
    margin: 20px auto;
    padding: 1em 1em;
}
header {
    color: var(--header-color);
}

main {
    display: grid;
    margin-left: 0.05em;
    margin-right: 0.05em;
}
nav {
    display: flex;
    margin: auto;
}

nav li {
    float: left;
    list-style: none;
    margin-left: 0;
    padding: 0;
}

.mainMenu a:link, .mainMenu a:visited{
    color: orange;    
    display: block;
    margin-bottom: 0;
    padding: 0.3em 0.3em;
    text-align: center;
    width: 5em;
}

.iconMenu{
    max-width: 80%;
}

footer{
  display: grid;
  background: rgb(150,200,200);
  min-height: 41px;
  margin-top: 1.5em;
  padding-bottom: 0.2em;
  padding-top: 0.5em;
  color: white;
  font-size: var(--min-sectionHeader-size);
  text-align: center;
}

* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    display: grid;
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: grid;   
    margin-left: auto;
    margin-right: auto;
  }
  .fix01{
    max-width: 100%;
    max-height: 800px
  }
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: gray;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: lightblue;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: rgb(60, 85, 90);
    padding: 2px 16px;
    color: white;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 20%;

  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

@media screen and (max-width: 469px){
  .column {
    width: 33.33%;
  }
  header {
    margin-bottom: 1em;
    font-size: var(--min-title-size);
  }
  .textMenu {
    display: none;
  }
  .iconMenu{
    max-width: 50%;
  }
}

@media screen and (min-width: 470px) and (max-width: 959px){
  .column {
    width: 25%;
  }
  header {
    margin-bottom: 1em;
    font-size: var(--mid-title-size);
  }
  .textMenu {
    display: none;
  } 
  .iconMenu{
    max-width: 65%;
  }

}

@media screen and (min-width: 960px){
  header {
    margin-bottom: 1em;
    font-size: var(--max-title-size);
  }
}