:root {
    --header-color: Orange;
    --max-title-size: 3em;
    --mid-title-size: 2.3em;
    --min-title-size: 1.5em;
    --max-sectionHeader-size: 1.5em;
    --mid-sectionHeader-size: 1.2em;
    --min-sectionHeader-size: 1em;
    --background-color: rgb(255, 253, 255);
}

nav {
    display: flex;
    margin: 22px auto;
}

nav li {
    float: left;
    list-style: none;
    margin-left: 0;
    padding: 0;
}

.mainMenu a:link, .mainMenu a:visited{
    color: orange;    
    display: block;
    margin-bottom: 0;
    padding: 0.3em 0.3em;
    text-align: center;
    width: 5em;
}

.iconMenu{
    max-width: 80%;
}

img{
    max-width: 100%;
}

body {
    background-color: var(--background-color);
    font-family: 'Itim', cursive;
    line-height: 1.3em;    
    margin: 20px auto;
    padding: 1em 1em;
}

header {
    color: var(--header-color);
    margin: 30px;
}
#mainN {
    display: grid;
    margin-left: 0.05em;
    margin-right: 0.05em;
}

.Sechead {
    color: var(--header-color);
}

section {
    border: solid #d1d1d1;
    padding: 0.22em 0.88em;
    box-shadow: 8px 8px 2px #e7e7e7;
    margin: 5px;
}

footer{
    display: grid;
    background: rgb(150,200,200);
    min-height: 41px;
    margin-top: 1.5em;
    padding-bottom: 0.2em;
    padding-top: 0.5em;
    color: white;
    font-size: var(--min-sectionHeader-size);
    text-align: center;
}
@media screen and (max-width: 469px){
    #mainN{
        grid-gap: 1.0em;
    }
    header{
        font-size: var(--min-title-size);
    }
    nav {
        flex-wrap: wrap;
    }
    .Sechead{
        font-size: var(--min-sectionHeader-size);
    }
    .textMenu {
        display: none;
    }
    .iconMenu{
        max-width: 50%;
    }
}

@media screen and (min-width: 470px) and (max-width: 959px){
    #mainN{
        grid-template: none;
    }
    header {
        font-size: var(--mid-title-size);
    }
    .Sechead {
        font-size: var(--mid-sectionHeader-size);
    }
    footer {
        grid-template-columns: 1fr 2fr;
    }
    .textMenu {
        display: none;
    }
    .iconMenu{
        max-width: 65%;
    }
}

@media screen and (min-width: 960px){
    #mainN{
        grid-template: auto / 3fr 1.5fr;
        grid-gap: 1.5em;
    }
    header {
        font-size: var(--max-title-size);
    }
    .Sechead {
        font-size: var(--max-sectionHeader-size);
    }
}